{{input disabled=disabled class="text-field search-field" type="text" value=value placeholder=placeholder}}
{{#if (and showError errorText)}}
    <span class="error-text">{{errorText}}</span>
{{/if}}
